<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='anotherStyle.css' )}}" >
</head>
<body>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis exercitationem, ipsa laudantium quos eos rem. Doloribus unde placeat in veritatis, maxime at qui accusamus nobis repellendus illo nulla laboriosam repudiandae.
</body>
</html>