<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Class - X *DeveloperCorners Student*</title>
</head>
<body>
    <ul>
        <li>The marks of marry is {{marks['marry']}}</li>
        <li>The marks of john is {{marks['john']}}</li>
        <li>The marks of victory is {{marks['victory']}}</li>
        <li>The marks of Raj is {{marks['Raj']}}</li>
        <li>The marks of robert is {{marks['robert']}}</li>
        <li>The marks of Kim is {{marks['Kim']}}</li>
    </ul>

    
</body>
</html>